<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>

    <add key="SMTP_Port" value="587" />
    <add key="ServerIPAdress" value="smtp.office365.com" />
    <add key="SenderMailID" value="cms@gmail.com" />
    <add key="SenderMailPassword" value="flbsdmfrwmzslqgw" />
    <!-- Azure AD App Registration -->
    <add key="TenantId" value="9b9a8f56-f5bf-4f92-8834-a10ce00d496d" />
    <add key="ClientId" value="440e66d7-5a10-49bc-8273-5e067ea4cf7e" />
    <add key="ClientSecret" value="lQH8Q~wpQO93X6_bUkRlVo9KzjZ_bRnB5TXPkbuV" />
    <add key="ToEmail" value="premnathshinde0494@gmail.com" />
    <add key="SmtpUsername" value="test@gmail.com" />

    <add key ="EmailSubject" value= "Test Email via Microsoft Graph (App-only)"/>
    <add key="EmailBody" value="This email was sent using client_credentials + Microsoft Graph API"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
